# Python
__pycache__/
*.py[cod]
*.so
.python-version

# Virtual environments
.venv/
venv/

# Pytest
.pytest_cache/

# Ruff
.ruff_cache/

# Build artifacts
*.egg-info/
build/
dist/

# Environment variables
.env

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# VS Code
.vscode/*
!.vscode/settings.json
